@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-fluid {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 1rem;
}

.textfield {
  /* height: 2rem; */
}
